includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/nesbot/carbon/extension.neon
  - phpstan-baseline.neon

parameters:
    # Level 10 is the highest level
    level: 8
    paths:
      - app
      - routes
      - database
    ignoreErrors:
